$fontPadrao: sans-serif;

$corDeFundoPrimaria: #000;
$corDeFundoSecundaria: #16181c;
$corDeFundoTerciaria: #1da1f2;
$corDeFundoQuaternaria: #18191b;

$corPrimaria: #e7e9ea;
$corSecundaria: #fff;
$corTerciaria: #71767b;

$mobile: 767px;
$tablet: 1023px;

$fontSizeG: 32px;
$fontSizeM: 20px;
$fontSizeP: 16px;
$fontSizePP: 14px;
$fontSizePPP: 12px;
